.fototienda {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boton {
  margin: 5px;
  padding: 10px;
  gap: 10px;
  width: 100px;
  background: #fc9052;
  border: 3px solid #fc9052;
  border-radius: 4px;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.Bienvenida {
  font-family: 'Arial';
  font-style: normal;
  display: flex;
  align-items: center;
}
